
.outer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.inner{
  border: 1px solid #ccc;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px; 
}

.addCartBtn{
  background: lightgreen;
  width: 100px;
  border-radius: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.outer-price{
  display: flex;
  gap: 20px;
}